{% extends "base.html" %}

{% block head %}
<link href="{{ url_for('static', filename='chatwin.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="change-overlay" class="overlay" style="display: none"></div>

{% block navbar %} {{ super() }} {% endblock %}


<div class="row">
  <!-- <div class="row"> -->
    <div id="over-box" class="offset4 span5 overlay-box">
      <!-- <p>I can haz a dream</p> -->
      <h3>Do you want to change chats?</h3>

      <div style="display: inline-block; text-align: center;" class="btn-group">
	<a onclick="return hideOverlay()" class="btn btn-info" href="#"><i class="icon-arrow-left"></i>Go back to chatting</a>
	<a class="btn" href="#">Change Preferences</a>
	<a onclick="return gotoNextChat()" class="btn btn-info" href="#"><i class="icon-arrow-right"></i>Next Chat</a>
      </div>
    </div>
  <!-- </div> -->
</div>



<div class="row">
  <div class="offset2 span9">
    <div name="hilo" class="alert alert-info" id="conn_status"></div>
    <!-- <div name="chat" id="chatdiv" style="height : 380px !important; overflow : auto;"> -->
    <div name="chat" id="chatdiv">
      <table id="chatarea" class="table table-striped">
	<colgroup>
	  <col class="span1" />
	  <col class="span7" />
	</colgroup>
	<tbody>
	<tr><td>You</td><td>{{ uid }}</td></tr>
	<tr><td>Stranger</td><td>uhuuu</td></tr>
	</tbody>
      </table>
    </div>
  </div>
</div>


<div class="row">
  <div class="offset2 span9" name="userinputdiv" id="userdiv">
    <div>
    <form class="form-horizontal" id="chatform">
      <!-- <textarea class="span7" id="chatbox" rows="3"></textarea> -->

      <input type="text" class="span7" autocomplete="off" id="chatbox" />
      <input id="uniq_id" type="hidden" value="{{ uid }}" />
      <button type="button" id="dcon" class="btn" onclick="return disconnect()"">Disconnect</button>
      <button type="button" id="dcon" class="btn" onclick="return nextChatWin()"">Next Chat</button>

    </form>
    </div>
  </div>
</div>


<script type="text/javascript" src="{{ url_for('static', filename='jquery-1.7.2.min.js') }}"></script>
<script type="text/javascript" src="/static/chatwin.js"></script>
<!-- <script type="text/javascript" src="/static/test_chatwin.js"></script> -->

{% endblock %}
